/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Modified:    16/04/2012
 * Description: Simple jQuery modal window
 * Example:
 * <div id="modal-wrapper">
 *     <div id="modal-content" />
 *     <span id="modal-close" />
 * </div>
 * <div id="modal-overlay" />
 */

.modal-overlay {
	z-index:300;
	background:rgba(0, 0, 0, 0.25);
}

.modal-wrapper {
	z-index:310;
	background:#fff;
	border-radius:15px;
	-webkit-box-shadow:0 0 15px rgba(0, 0, 0, 0.25);
	   -moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.25);
	        box-shadow:0 0 15px rgba(0, 0, 0, 0.25);
}
	.modal-content {
		padding:2.5em 1em 1em;
	}
	.modal-close {
		position:absolute;
		top:.5em;
		right:1em;
		z-index:320;
		font-size:.75em;
		cursor:pointer;
	}